<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="com.examania.schdata.entity.ADMIN.StudentInfoEntity"/>
    <mapping class="com.examania.schdata.entity.ADMIN.UserDetailEntity"/>
    <mapping class="com.examania.schdata.entity.ADMIN.UserRoleDetailEntity"/>
    <mapping class="com.examania.schdata.entity.ADMIN.UserRoleGroupEntity"/>
    <mapping class="com.examania.schdata.entity.MST.MstCourseEntity"/>
    <mapping class="com.examania.schdata.entity.MST.MstExamEntity"/>
    <mapping class="com.examania.schdata.entity.MST.MstProvisionEntity"/>
    <mapping class="com.examania.schdata.entity.MST.MstQuestionEntity"/>
    <mapping class="com.examania.schdata.entity.MST.MstRuleEntity"/>
    <mapping class="com.examania.schdata.entity.MST.MstSubjectEntity"/>
    <mapping class="com.examania.schdata.entity.MST.RefCourseStuEntity"/>
    <mapping class="com.examania.schdata.entity.MST.RefCourseSubEntity"/>
    <mapping class="com.examania.schdata.entity.MST.RefExamQueEntity"/>
    <mapping class="com.examania.schdata.entity.MST.RefExamRuleEntity"/>
    <mapping class="com.examania.schdata.entity.MST.RefSubRuleEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>